<%= current_user.email %>
<% if @locations.count >= 1 %>
	<h2>Your locations</h2>
	<% @locations.each do |location| %>	
		<%= link_to location.name, location_path(location)  %>
	<% end %>
<% else %>
	<h2>Add first location</h2>
	<%= form_for(@location) do |f| %>
	  <% if @location.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
	      <ul>
	      <% @location.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	
<% end %>