<!DOCTYPE html>
<html>
<head>
  <title>Irrg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon-irrg-final.ico' %>
  <%= favicon_link_tag 'rg-apple-157.jpg', rel: 'apple-touch-icon', type: 'image/png' %>
  
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  <style>
  input[type="file"] {
  	display: none;
  }

  .bar {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 10;
      height: 44px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: white;
      border-bottom: 1px solid #ddd;

      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
  }

  .bar-nav {
      top: 0;
  	border-bottom: 1px solid #ddd;
  	  border-top-left-radius: 12px;
  	  border-top-right-radius: 12px;
  	  -webkit-box-shadow: none;
  	          box-shadow: none;
  }

  .title {
  	position: absolute;
  	  display: block;
  	  width: 100%;
  	  padding: 0;
  	  margin: 0 -10px;
  	  font-size: 17px;
  	  font-weight: 500;
  	  line-height: 44px;
  	  color: #000;
  	  text-align: center;
  	  white-space: nowrap;
  }
  .form-image {
	  height: 141px;
	  width: 189px;
  }
  </style>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
<header style="display:block" class="bar bar-nav">
  <span class="title">Create New Review</span>
</header>
<br>
<br>
<br>
<div class="container">	
	<%= form_for(@review, html: {multipart: true, role: "form"}) do |f| %>
	  <% if @review.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

	      <ul>
	      <% @review.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>	
	  <div class="form-group">	    
		<label class="btn btn-lg btn-block btn-info">
			Take Food Picture
	    	<%= f.file_field(:product_image, {type: "file", capture: "camera", accept: "image/*"}) %>
		</label>
	  </div>
	  <div class="form-group" style="text-align:center;">
		  <img class="form-image" id="reviewimage" alt="yummy_food.jpg"/>
	  </div>
	  <div class="form-group">	    
	    <%= f.text_field :email, placeholder: "Your email", type: :email, class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
	  </div>
	  <div class="form-group">
		Select location:
	    <%= f.collection_select :location_id, Location.order(:name), :id, :name,include_blank: true %>
	  </div>
	  <div class="form-group">
	    <%= f.text_area :comment, rows: 4, placeholder: "What did you like about what you ordered?", class: "form-control" %>
	  </div>
	  <div class="form-group">
		<label class="btn btn-lg btn-block btn-info">
			Your Picture
	    	<%= f.file_field(:reviewer_image, {type: "file", capture: "camera", accept: "image/*"})%>
		</label>
	  </div>
	  <div class="form-group" style="text-align:center;">		  
		  <img  class="form-image" id="reviewerimage" alt="say_cheese.jpg"/>
	  </div>
	  <div class="form-group">
	    <%= f.submit data: {confirm: "Please make sure you have read and agree to the terms before submitting" }, class: "btn-lg btn btn-block btn-success" %>
	  </div>
	<% end %>
  <div class="form-group">
    <small>By submitting this review you agree to the terms outlined here</small>
  </div>	
</div>
<script>
	var desiredWidth;
 
	    $(document).ready(function() {
			$("#review_product_image").on("change",gotProdPic);
			$("#review_reviewer_image").on("change",gotRevPic);
			desiredWidth = window.innerWidth;
        
	        if(!("url" in window) && ("webkitURL" in window)) {
	            window.URL = window.webkitURL;   
	        }
		
		});
 	
		function gotProdPic(event) {
	        if(event.target.files.length == 1 && 
	           event.target.files[0].type.indexOf("image/") == 0) {
	            $("#reviewimage").attr("src",URL.createObjectURL(event.target.files[0]));
	        }
		}
		
		function gotRevPic(event) {
	        if(event.target.files.length == 1 && 
	           event.target.files[0].type.indexOf("image/") == 0) {
	            $("#reviewerimage").attr("src",URL.createObjectURL(event.target.files[0]));
	        }
		}
</script>
<script>
$(document).ready(function() {
	
});
</script>    
</body>
</html>