<!DOCTYPE html>
<html>
<head>
  <title>Irrg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  <style>
  input[type="file"] {
  	display: none;
  }

  .bar {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 10;
      height: 44px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: white;
      border-bottom: 1px solid #ddd;

      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
  }

  .bar-nav {
      top: 0;
  	border-bottom: 1px solid #ddd;
  	  border-top-left-radius: 12px;
  	  border-top-right-radius: 12px;
  	  -webkit-box-shadow: none;
  	          box-shadow: none;
  }

  .title {
  	position: absolute;
  	  display: block;
  	  width: 100%;
  	  padding: 0;
  	  margin: 0 -10px;
  	  font-size: 17px;
  	  font-weight: 500;
  	  line-height: 44px;
  	  color: #000;
  	  text-align: center;
  	  white-space: nowrap;
  }
  </style>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
<header style="display:block" class="bar bar-nav">
  <span class="title">Create New Review</span>
</header>
<br>
<br>
<br>
<div class="container">	
	<%= form_for(@review, html: {multipart: true, role: "form"}) do |f| %>
	  <% if @review.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

	      <ul>
	      <% @review.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>	
	  <div class="form-group">	    
		<label class="btn btn-lg btn-block btn-info">
			Take Food Picture
	    	<%= f.file_field(:product_image, {type: "file", capture: "camera", accept: "image/*"}) %>
		</label>
	  </div>
	  <div class="form-group">	    
	    <%= f.text_field :email, placeholder: "Your email", type: :email, class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
	  </div>
	  <div class="form-group">
		Select location:
	    <%= f.collection_select :location_id, Location.order(:name), :id, :name,include_blank: true %>
	  </div>
	  <div class="form-group">
	    <%= f.text_area :comment, rows: 4, placeholder: "What did you think of it?", class: "form-control" %>
	  </div>
	  <div class="form-group">
		<label class="btn btn-lg btn-block btn-info">
			Your Picture
	    	<%= f.file_field(:reviewer_image, {type: "file", capture: "camera", accept: "image/*"})%>
		</label>
	  </div>
	  <div class="form-group">
	    <%= f.submit class: "btn-lg btn btn-block btn-success" %>
	  </div>
	<% end %>
</div>

</body>
</html>