<p id="notice"><%= notice %></p>

<p>
  <strong>Product image:</strong>
  <%= image_tag @review.product_image.to_s %>
</p>

<p>
  <strong>Email:</strong>
  <%= @review.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @review.location %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Reviewer image:</strong>
  <%= image_tag @review.reviewer_image.to_s %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
