<% @public_reviews.each do |feed| %>
	<div class="item">
		<div style="position:relative;">
			<%= image_tag feed.product_image, class: "public-product-image" %><br>
	 		<div class="comments-wrapper">
				<div class="comment-guts row">
					<div class="media" style="padding:15px;">
					  <div class="media-body">
					    <h1 class="media-heading"><%= feed.product_name %></h1>
					    <p style="font-size:1.85em;">"<i><%= feed.comment %></i>"</p>
					  </div>
					</div>
					<div class="col-md-3  comment-email">									
						<%= image_tag feed.reviewer_image, class: "review-carousel-image" %> 
						<%= full_name(feed) %>						 
					</div>	
				</div>				
			</div>
		</div>
	</div>
<% end %>