<%= current_user.email %> | <%= link_to "Public View", public_feed_path %><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Visible?</th>
	  <th>User Image</th>
	  <th>Comment</th>
	  <th>Product Name</th>
	  <th>Food Image</th>
    </tr>
  </thead>
  <tbody>
	  <% @location.each do |location| %>
		  <% if location.reviews.count >= 1 %>
		  	<%= form_tag visible_reviews_path, method: :put do %>

			    <tr>
				<% location.reviews.each do |review| %>		
			      <td>
					  <%= check_box_tag "review_ids[]",review.id %> | <%= visibile(review.visibility)%>
					  <%= link_to "Delete this review",review, method: :delete, data: { confirm: 'Are you sure you to delete this review? It cannot be recovered' } %>
				  </td>
				  <td><%=image_tag review.reviewer_image, class: "reviewer-image" %></td>
				  <td>"<%=review.comment %>" <br>-<%= full_name(review) %></td>
				  
				  	<td><%= best_in_place review, :product_name, type: :input, nil: "add this product name" %></td>

			      <td><%= image_tag review.product_image, class: "product_image"%> </td>
				  
			    </tr>
				<% end %>
			<%= submit_tag "Make Not Visible", class: "btn btn-danger" %>
			<%= submit_tag "Make Visible", class: "btn btn-success" %>
			<% end %>
		  <% else %>
		  <tr><td>No reviews yet</td></tr>	
		  <% end %>
	  <% end %>	  
  </tbody>
</table>
